
.navbarContainer{
  display: flex;
  justify-content: space-between;
}

.logoutButton{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logoDashboard{
  display: flex;
  width: 300px;
  height: auto;
}

.menuButton{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}


.buttonAndProfileContainer{
  position: relative;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px; /* optional, adjust as needed */
  margin: 0 auto; /* optional, centers the container */
}

.button{
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
}

.under600ButtonContainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: auto;
}

.under600Buttons{

}



.buttonIcons{
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card{
  display: flex;
}


.menuOverlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(16, 16, 16, 0.867);
  /* background-Color: rgba(100,200,10,0.15); */
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(15px);

  
  overflow-x: hidden;
  transition: 0.5s;
}

.menuOverlayContent {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menuOverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.3s;
}

.menuOverlay a:hover, .menuOverlay a:focus {
  color: rgb(11, 238, 61);
  /* rgba(9, 163, 42, 0.69); */
}

.menuOverlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .menuOverlay {overflow-y: auto;}
  .menuOverlay a {font-size: 20px}
  .menuOverlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


/* Styles for mobile */

@media only screen and (max-width: 600px) {

  /* .logo {
    width: 60%;
    height: 60%;
  
    margin: 10px auto;
  } */
  .logoDashboard{
    display: flex;
    width: 70%;
    height: 70%;
  }



}


